@font-face{
  font-family: 'OpenSansRegular';
  scr: url('OpenSansRegular.eot');
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'Lato', "Times New Roman", serif;
  height: 150%;
  text-align: left;
  margin: 1in;
  background-color:#D2B48C
  }
h1{
 font-size:32px;
  text-align: center;
  padding-right: 1in;
    }
h2{
   font-size: 16px;
    text-align: center;
    padding-right: 3in;
}
.title-position{
  font-size: 16px;
  padding-left: .5in;
  line-height: 100%;
}
.job-description{
  font-size: 16px;
  }
.job-description-body{
  font-size: 16px;
  padding-left: 1in;
  line-height: 100%;
  }
.hr1{
  width: 80%;
  margin: .5em;
  }
.container {
  display: flex;
}
.bg{
  float: right;
  margin-right: 150px;
  border: 1px;
    }
.bucky{
  float: left;
  border: 1px;
  margin: 5px;
    }
