body {
  font-family: Times, serif;
  height: 150%;
  text-align: left;
  width: 90%;
  margin: 1in;
  padding-left: 1in;
  }
h1{
 font-size:28px;
  padding-bottom: 0px;
  text-align: center;
  padding-right: 3in;
    }
h2{
   font-size: 16px;
    padding-bottom: 0px;
    text-align: center;
    padding-right: 3in;
}
.header{
  font-size: 16px;
  line-height: 120%;
}
.body{
  font-size: 16px;
  padding-left: .5in;
  line-height: 100%;
}
.job-description{
  font-size: 16px;
  padding-left: .5in;
  line-height: 100%;
  }
.job-description-body{
  font-size: 16px;
  padding-left: 1in;
  line-height: 100%;
  }
.hr1{
  width: 80%;
  margin: .5em;
  }
.container {
  display: flex;
}
.bg{
  float: right;
  margin-right: 150px;
  border: 1px;
    }
.benphoto{
  float: right;
  margin-right: 9in;
  border: 1px;
}
