body {
  font-family: Times, serif;
  height: 100%;
  text-align: center;
  width: 90%;
  border: 2px solid black;
  }
}
.page-title {
  text-align: center;
  font-size: 28px;
  }
h2{
   font-size: 16px;
    color: cyan;
}
p{
  text-align: left;
  font-size: 16px;
  padding-left: 0.9in;
  line-height: 170%;
}

